/* public/css/style.css */
html, body {
    height: 100%; /* Garante que o body tenha pelo menos a altura total da janela */
    margin: 0;
}

.container {
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos 100% da altura da janela */
    display: flex;
    flex-direction: column; /* Flexbox para garantir que o footer fique no final */
}

footer {
    margin-top: auto; /* Faz o footer ir para o final do conteúdo */
}
